<head><link href="/css/vendors.css" rel="stylesheet"><link href="/css/app.css" rel="stylesheet"></head><footer class="footer">
 <div class="container">
  <a href="/" class="footer__logo">
   <svg>
    <use xlink:href="#logo1"></use>
   </svg>
  </a>
  <div class="footer__links">
   <a href="http://remont.re-montag.ru/" target="_blank" class="footer__links__item">Ремонт и строительство</a>
   <a href="http://re-montag.ru/catalog" target="_blank" class="footer__links__item">Напольные покрытия</a>
   <a href="http://c.re-montag.ru/" target="_blank" class="footer__links__item">Кондиционеры</a>
   <a href="http://mr.re-montag.ru/" target="_blank" class="footer__links__item">Механизированная отделка</a>
  </div>
  <!--<a href="" class="footer__copyright">-->
    <!--<svg>-->
      <!--<use xlink:href="#marketing"></use>-->
    <!--</svg>-->
    <!--Сделано в&nbsp;<span>Маркетинга на 100</span>-->
  <!--</a>-->
 </div>
</footer>
<div class="modal">
 <div class="modal__fade"></div>
 <div class="modal__inner">
  <div class="modal__content" id="tech1">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии QUANTUM
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 50 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность: 4.8/5.3
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	42/35/31
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-7 - 43
    </div>
    <div class="modal__content__list__item">
     Автоматическая очистка испарителя
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	849x289x210 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	848x540x320 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech2">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии TURIN
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 35 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	3.2/3.3
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	26
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-7 - 43
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	819x254x185 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	848x596x320 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech3">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии BRAVO
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 35 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	3.52/3.81
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	41/36/31
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-7 - 43
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	805x194x285 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	770x300x555 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech4">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии FTXR/RXR
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 42 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	1.55-4.2-4.6
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	42/27/24
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-10 - 43
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	305x890x209 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	693x795x285 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech5">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии FTXG-L/RXG-L	(белый)
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 35 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	1.4-3.5-3.8
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	45/26/20
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-10 - 46
    </div>
    <div class="modal__content__list__item">
     Уровень звукового давления снижен до 19 дБА
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	303x998x216 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	550x765x285 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech6">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии FTXG-L/RXG-L	(серебро)
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 35 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	1.4-3.5-3.8
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	45/26/20
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-10 - 46
    </div>
    <div class="modal__content__list__item">
     Уровень звукового давления снижен до 19 дБА
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	303x998x216 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	550x765x285 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech7">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии FTXB-C/RXB-C
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 35 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	1.3-3.3-3.8
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	41/27/23
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-10 - 46
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	283x770x216 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	550x659x275 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech10">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии OLYMPIO
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 36 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	3.5/3.6
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	27
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-7 - 43
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	800x300x197 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	700x500x225 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech8">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии FUSION
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 30 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	3.2/3.5
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	32
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-7 - 43
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	794х265х182 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	776х540х320 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech9">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии MONACO SUPER DC
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 35 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Производительность:	3.6/3.8
    </div>
    <div class="modal__content__list__item">
     Уровень шума:	24
    </div>
    <div class="modal__content__list__item">
     Диапазон рабочих температур, °C	-7 - 43
    </div>
    <div class="modal__content__list__item">
     Электропитание:	1~, 220-240 В, 50 Гц
    </div>
    <div class="modal__content__list__item">
     Внутренний блок:	790х275х200 мм.
    </div>
    <div class="modal__content__list__item">
     Внешний блок:	842х596х320 мм.
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech11">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии 81
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 25 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Мощность  охлаждения 2.3 кВт
    </div>
    <div class="modal__content__list__item">
     Мощность   обогрева 2.3 кВт
    </div>
    <div class="modal__content__list__item">
     Мощность потребления при охлаждении 0.78 кВт
    </div>
    <div class="modal__content__list__item">
     Мин. уровень шума 31-59 дБ
    </div>
    <div class="modal__content__list__item">
     Макс. воздушный поток 400 м3/час
    </div>
    <div class="modal__content__list__item">
     Мощность потребления при обогреве 0.7 кВт
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech12">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии 114
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 25 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Мощность охлаждения 3.6 кВт
    </div>
    <div class="modal__content__list__item">
     Мощность обогрева 3.7 кВт
    </div>
    <div class="modal__content__list__item">
     Площадь охлаждаемого помещения 40 м2
    </div>
    <div class="modal__content__list__item">
     Мощность потребления при охлаждении 1.1 кВт
    </div>
    <div class="modal__content__list__item">
     Мощность потребления при обогреве 1 кВт
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech13">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии 114
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 25 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Компрессор Инвертор
    </div>
    <div class="modal__content__list__item">
     Режимы работы охлаждение/обогрев
    </div>
    <div class="modal__content__list__item">
     Мощность охлаждения 2.6 кВт
    </div>
    <div class="modal__content__list__item">
     Мощность обогрева 2.7 кВт
    </div>
    <div class="modal__content__list__item">
     Площадь охлаждаемого помещения 25 м²
    </div>
    <div class="modal__content__list__item">
     Мин. уровень шума 31 дБ
    </div>
    <div class="modal__content__list__item">
     Мощность потребления при охлаждении 0.77 кВт
    </div>
    <div class="modal__content__list__item">
     Макс. воздушный поток 400 м3/час
    </div>
    <div class="modal__content__list__item">
     Мощность потребления при обогреве 0.8 кВт
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech14">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии 147
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 32 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Потребляемая мощность (охлаждение/нагрев) 1060/1025 Вт
    </div>
    <div class="modal__content__list__item">
     Мощность в режиме охлаждения	3200 Вт
    </div>
    <div class="modal__content__list__item">
     Мощность в режиме обогрева 3500 Вт
    </div>
    <div class="modal__content__list__item">
     Циркуляция воздуха500 м³/час
    </div>
    <div class="modal__content__list__item">
     Уровень шума (макс/мин)	40/32 дБ / внешний блок — 54 дБ /
    </div>
    <div class="modal__content__list__item">
     Тип хладагента R410А
    </div>
    <div class="modal__content__list__item">
     Максимальный перепад высот между блоками 5 м
    </div>
    <div class="modal__content__list__item">
     Максимальная длина труб 15 м
    </div>
    <div class="modal__content__list__item">
     Минимальная t для режима охлаждения	18 °C
    </div>
    <div class="modal__content__list__item">
     Минимальная t для режима обогрева	-7 °C
    </div>
    <div class="modal__content__list__item">
     Фильтры антиформальдегидный
    </div>
    <div class="modal__content__list__item">
     Габариты внутреннего блока (ШхВхГ)	745x250x195 мм / вес — 9 кг /
    </div>
    <div class="modal__content__list__item">
     Габариты оконного/внешнего блока (ШхВхГ)	715x540x235 мм / вес — 25 кг
    </div>
    <div class="modal__content__list__item">
     Дата добавления на E-Katalog май 2015
    </div>
   </div>
  </div>
  <div class="modal__content" id="tech15">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Технические характеристики <br />
    серии 147
   </div>
   <div class="modal__content__sub">Технические характеристики модели рассчитанной на 35 м²</div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Компрессор Инвертор
    </div>
    <div class="modal__content__list__item">
     Охлаждение, кВт 3,5
    </div>
    <div class="modal__content__list__item">
     Обогрев, кВт 3,7
    </div>
    <div class="modal__content__list__item">
     Потребление при охлаждении, кВт 1,1
    </div>
    <div class="modal__content__list__item">
     Уровень шума, дБа 30
    </div>
    <div class="modal__content__list__item">
     Габариты (ВхШхГ), см 28x80x19
    </div>
   </div>
  </div>
  <div class="modal__content" id="info1">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии QUANTUM
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Теплый пуск
    </div>
    <div class="modal__content__list__item">
     Режим энергосбережения
    </div>
    <div class="modal__content__list__item">
     Обогрев до 8 градусов
    </div>
    <div class="modal__content__list__item">
     Локальный микроклимат
    </div>
    <div class="modal__content__list__item">
     Функция «Комфортный сон»
    </div>
    <div class="modal__content__list__item">
     Функция «Не беспокоить»
    </div>
    <div class="modal__content__list__item">
     Автоматическая очистка испарителя
    </div>
    <div class="modal__content__list__item">
     Работа по таймеру
    </div>
    <div class="modal__content__list__item">
     Интеллектуальная разморозка
    </div>
    <div class="modal__content__list__item">
     Информационный дисплей скрытого типа
    </div>
   </div>
  </div>
  <div class="modal__content" id="info2">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии TURIN
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Функция «Мои предпочтения»
    </div>
    <div class="modal__content__list__item">
     Функция «Антистресс»
    </div>
    <div class="modal__content__list__item">
     Функция «Локальный микроклимат»
    </div>
    <div class="modal__content__list__item">
     Цифровой дисплей
    </div>
    <div class="modal__content__list__item">
     Обнаружение утечки хладагента
    </div>
   </div>
  </div>
  <div class="modal__content" id="info3">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии BRAVO
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list">
    <div class="modal__content__list__item">
     Тихая работа кондиционера
    </div>
    <div class="modal__content__list__item">
     Режим энергосбережения
    </div>
    <div class="modal__content__list__item">
     Обогрев до 8 градусов
    </div>
    <div class="modal__content__list__item">
     Локальный микроклимат
    </div>
    <div class="modal__content__list__item">
     Функция «Комфортный сон»
    </div>
    <div class="modal__content__list__item">
     Покрытие «GOLDEN FIN»
    </div>
    <div class="modal__content__list__item">
     Автоматическая очистка испарителя
    </div>
    <div class="modal__content__list__item">
     Информационный дисплей скрытого типа
    </div>
   </div>
  </div>
  <div class="modal__content" id="info4">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии FTXR/RXR
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Система подачи свежего атмосферного воздуха до 32 м3/ч.
    </div>
    <div class="modal__content__list__item">
     Двухстадийная очистка атмосферного воздуха в наружном и внутреннем блоках
    </div>
    <div class="modal__content__list__item">
     Фотокаталитический фильтр очистки с источником стримерного разряда во внутреннем блоке
    </div>
    <div class="modal__content__list__item">
     Срок службы фильтров до 3 лет
    </div>
    <div class="modal__content__list__item">
     Увлажнение воздуха с подогревом (Ururu)
    </div>
    <div class="modal__content__list__item">
     Осушение воздуха с подогревом (Sarara)
    </div>
    <div class="modal__content__list__item">
     Режим комфортного воздухораспределения (Comfort)
    </div>
    <div class="modal__content__list__item">
     Объёмный воздушный поток (3-D Flow) с режимом Autoswing
    </div>
    <div class="modal__content__list__item">
     Режим повышенной производительности (Powerful)
    </div>
    <div class="modal__content__list__item">
     Функция автоматического перезапуска (Auto Restart)
    </div>
    <div class="modal__content__list__item">
     Функция самодиагностики (Self Diagnosis Function)
    </div>
    <div class="modal__content__list__item">
     Управление кондиционером через Интернет-соединение с помощью смартфонов, планшетных компьютеров, с поддержкой недельного планировщика и подгрузкой метеоданных (дополнительно должен быть установлен онлайн-контроллер KKRP01A)
    </div>
    <div class="modal__content__list__item">
     Максимальные расстояние и перепад высот между блоками – 10 м и 8 м соответственно.
    </div>
    <div class="modal__content__list__item">
     В стандартной поставке воздушный шланг (Dнар/вн = 37/25 мм, L = 8 м)
    </div>
    <div class="modal__content__list__item">
     Для обеспечения трассы 10 м дополнительно можно дозаказать шланг длиной 2 м KPMH974A402 с комплектом L-образных соединителей KPMH950A4L или цельный шланг длиной 10 м KPMH974A42
    </div>
   </div>
  </div>
  <div class="modal__content" id="info5">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии FTXG-L/RXG-L (белый)
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Совершенство технологий, выполненное в эксклюзивном дизайне Emura
    </div>
    <div class="modal__content__list__item">
     Наивысший класс сезонной энергоэффективности SEER А+++
    </div>
    <div class="modal__content__list__item">
     Кондиционер работает практически бесшумно: уровень звукового давления снижен до 19 дБА
    </div>
    <div class="modal__content__list__item">
     Онлайн контроллер (опция) позволяет управлять кондиционером при помощи смартфона, компьютера или планшета
    </div>
    <div class="modal__content__list__item">
     2-зонный датчик Intelligent Eye определяет, в какой части помещения находятся люди, и направляет поток воздуха в сторону от них. Если они находятся в обеих зонах, то воздух будет направляться вертикально вниз при нагреве, вдоль потолка - при охлаждении. При отсутствии людей кондиционер будет переведен в энергосберегающий режим (до 30%) и обеспечивать повышенный комфорт
    </div>
    <div class="modal__content__list__item">
     Многоступенчатая очистка воздуха с фотокаталитической функцией и сроком службы фильтров до 3 лет
    </div>
    <div class="modal__content__list__item">
     Режим комфортного воздухораспределения.
    </div>
    <div class="modal__content__list__item">
     Объемный воздушный поток обеспечивает наилучшую циркуляцию воздуха в помещении за счет согласованных качаний заслонок и жалюзи
    </div>
    <div class="modal__content__list__item">
     Режим снижения шума наружного блока. Позволяет снизить уровень шума наружного блока на 3 дБА и расход электроэнергии на 3 Дб. Благодаря этому работа наружного блока не потревожит соседей
    </div>
   </div>
  </div>
  <div class="modal__content" id="info6">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии Серия FTXG-L/RXG-L	(серебро)
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Совершенство технологий, выполненное в эксклюзивном дизайне Emura
    </div>
    <div class="modal__content__list__item">
     Наивысший класс сезонной энергоэффективности SEER А+++
    </div>
    <div class="modal__content__list__item">
     Кондиционер работает практически бесшумно: уровень звукового давления снижен до 19 дБА.
    </div>
    <div class="modal__content__list__item">
     Онлайн контроллер (опция) позволяет управлять кондиционером при помощи смартфона, компьютера или планшета
    </div>
    <div class="modal__content__list__item">
     2-зонный датчик Intelligent Eye определяет, в какой части помещения находятся люди, и направляет поток воздуха в сторону от них. Если они находятся в обеих зонах, то воздух будет направляться вертикально вниз при нагреве, вдоль потолка - при охлаждении. При отсутствии людей кондиционер будет переведен в энергосберегающий режим (до 30%) и обеспечивать повышенный комфорт
    </div>
    <div class="modal__content__list__item">
     Многоступенчатая очистка воздуха с фотокаталитической функцией и сроком службы фильтров до 3 лет
    </div>
    <div class="modal__content__list__item">
     Режим комфортного воздухораспределения.
    </div>
    <div class="modal__content__list__item">
     Объемный воздушный поток обеспечивает наилучшую циркуляцию воздуха в помещении за счет согласованных качаний заслонок и жалюзи
    </div>
    <div class="modal__content__list__item">
     Режим снижения шума наружного блока. Позволяет снизить уровень шума наружного блока на 3 дБА и расход электроэнергии на 3 Дб. Благодаря этому работа наружного блока не потревожит соседей
    </div>
   </div>
  </div>
  <div class="modal__content" id="info7">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии FTXB-C/RXB-C
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Высокая сезонная энергоэффективность: весь модельный ряд относится к классу энергоэффективности «А+» (SEER не ниже 5.93)
    </div>
    <div class="modal__content__list__item">
     Элегантная плоская лицевая панель с легкостью вписывается в любой интерьер и легко чистится
    </div>
    <div class="modal__content__list__item">
     Режим комфортного воздухораспределения (Comfort) позволяет избежать сквозняков в помещении за счет создания равномерного температурного фона (для 20, 25, 35)
    </div>
    <div class="modal__content__list__item">
     Режим комфортного сна (Sleep mode) обеспечивает комфортные условия в ночное время за счет плавного изменения температуры
    </div>
    <div class="modal__content__list__item">
     Работа по таймеру (24-Hour Timer) обеспечивает программирование времени включения и выключения кондиционера на сутки вперед
    </div>
    <div class="modal__content__list__item">
     Режим повышенной производительности (Powerful)
    </div>
    <div class="modal__content__list__item">
     Режим экономичной работы (ECONO)
    </div>
    <div class="modal__content__list__item">
     Лицевая панель представлена в двух цветах: матовая (20, 25, 35 модели) и глянцевая (50, 60 модели)
    </div>
   </div>
  </div>
  <div class="modal__content" id="info10">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии OLYMPIO
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     А класс энергоэффективности
    </div>
    <div class="modal__content__list__item">
     Тихий режим работы SILENCE - 24dB(A)
    </div>
    <div class="modal__content__list__item">
     Функция «Горячий старт»
    </div>
    <div class="modal__content__list__item">
     Режим максимальной производительности (STRONG)
    </div>
    <div class="modal__content__list__item">
     Воздушный HD-фильтр высокой плотности – в 3 раза более эффективный
    </div>
    <div class="modal__content__list__item">
     Функция самоочистки внутреннего блока (предотвращение появления плесени и неприятного запаха)
    </div>
    <div class="modal__content__list__item">
     Скрытый LED-дисплей, появляется на панели при включении кондиционера
    </div>
    <div class="modal__content__list__item">
     Расширенная функция TIMER 24 на включение и выключение кондиционера
    </div>
    <div class="modal__content__list__item">
     Фильтр Vitamin C
    </div>
    <div class="modal__content__list__item">
     I FEEL климат контроль
    </div>
    <div class="modal__content__list__item">
     Бесшумный режим «SILENCE»
    </div>
    <div class="modal__content__list__item">
     Режим максимальной производительности STRONG
    </div>
   </div>
  </div>
  <div class="modal__content" id="info8">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии FUSION
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     «Самоочистка» (автоочистка) - когда кондиционер выключен, вентилятор продолжает работать еще некоторое время, осушая и предотвращая образование бактерий и плесени внутри кондиционера
    </div>
    <div class="modal__content__list__item">
     TIMER - таймер включения и выключения в диапазоне от 30 мин до 24 ч
    </div>
    <div class="modal__content__list__item">
     I FEEL - климат контроль, поддерживает температуру на нужном уровне в близи пульта ДУ
    </div>
    <div class="modal__content__list__item">
     «Горячий старт» - при включении на обогрев, заблокирует вентилятор внутреннего блока до тех пор, пока теплообменник не прогреется во избежание распространения холодного воздуха
    </div>
    <div class="modal__content__list__item">
     «Мягкий старт» - благодаря функции мягкого старта был увеличен рабочий ресурс электродвигателя кондиционера. Это стало возможно за счет плавного пуска кондиционера в первые минуты работы
    </div>
    <div class="modal__content__list__item">
     «Система самодиагностики и защиты» - микросхема, встроенная в блок управления, самостоятельно выполняет диагностику неполадок. Сигналы о возникших неисправностях отображаются на световых индикаторах внутреннего блока сплит-системы. При необходимости автоматически включается система защиты от поломок
    </div>
    <div class="modal__content__list__item">
     «Авторестарт» - автоматически запустит кондиционер после временного отключения электричества, сохранив заданные параметры
    </div>
    <div class="modal__content__list__item">
     Регулировка направления воздушного потока по вертикали/горизонтали
    </div>
    <div class="modal__content__list__item">
     «Автоматическая	разморозка» - при температуре наружного воздуха ниже +5°С, чтобы избежать обледенения наружного блока, периодически включается система авторазморозки, кондиционер работает 5-10 минут в режиме охлаждения без включения вентилятора внутреннего блока, теплообменник наружного блока нагревается и оттаивает
    </div>
   </div>
  </div>
  <div class="modal__content" id="info9">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии MONACO SUPER DC
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     Инверторный компрессор – обеспечивает плавное регулирование мощности, это сокращает потребление электроэнергии (до 15%), увеличивает ресурс кондиционера, за счет уменьшения количества циклов включения/выключения, а также обеспечивает точное поддержание температуры
    </div>
    <div class="modal__content__list__item">
     Очень низкий уровень шума – сплит-система может похвастаться рекордно низким уровнем шума, благодаря чему ее практически не слышно во время работы
    </div>
    <div class="modal__content__list__item">
     Ночной режим – эта функция актуальна во время вашего сна, она снижает уровень шума за счет понижения частоты вращения вентилятора, а температура регулируется специальным образом, для максимального комфорта людей во время сна
    </div>
    <div class="modal__content__list__item">
     Турбо-режим – кондиционер работает с максимальной производительностью, для наиболее быстрого достижения заданной температуры
    </div>
    <div class="modal__content__list__item">
     Увеличенная длина трасс – благодаря компрессору большой мощности максимальная длина трассы между внутренним и наружным блоком составляет 20 метров (25 м для EACS/I-18HM/N3, EACS/I-24HM/N3), что значительно расширяет количество мест, где можно разместить блоки кондиционера
    </div>
    <div class="modal__content__list__item">
     Автоматическая очистка (осушение внутреннего блока) – кондиционер в течение 20 минут просушивает радиатор внутреннего блока и дренажную ванну за счет вентиляции и небольшого нагрева, это предотвращает образование грибков и плесени
    </div>
    <div class="modal__content__list__item">
     Мягкий старт – данная функция обеспечивает плавный запуск и остановку двигателя компрессора, что значительно продлевает его ресурс и снижает уровень шума при запуске
    </div>
    <div class="modal__content__list__item">
     Горячий старт – данная функция активируется в режиме обогрева, при включении кондиционер не прокачивает воздух до тех пор (2-5 мин.) пока не прогревается внутренний теплообменник, это предотвращает обдув людей холодным воздухом
    </div>
    <div class="modal__content__list__item">
     Антиклещевой фильтр – убивает пылевых клещей
    </div>
    <div class="modal__content__list__item">
     Антибактериальный фотокаталитический фильтр – устраняет микроорганизмы, запахи и т.д.
    </div>
    <div class="modal__content__list__item">
     Фильтр с ионами серебра – серебро эффективно справляется с бактериями
    </div>
    <div class="modal__content__list__item">
     Катехиновый фильтр – катехин имеет мощное бактерицидное действие
    </div>
    <div class="modal__content__list__item">
     Система самодиагностики – контроллер кондиционера способен сам выявлять неполадки и сообщать о них посредством вывода на дисплей специальных кодов, по которым легко определить характер неполадки
    </div>
    <div class="modal__content__list__item">
     Покрытие Blue Fin – радиатор наружного блока имеет защитное покрытие, стойкое к коррозии и улучшающее теплообмен
    </div>
   </div>
  </div>
  <div class="modal__content" id="info11">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии 81
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     компрессор известного производителя
    </div>
    <div class="modal__content__list__item">
     предотвращение плесени
    </div>
    <div class="modal__content__list__item">
     экранный фильтр
    </div>
    <div class="modal__content__list__item">
     система интеллектуальной очистки
    </div>
    <div class="modal__content__list__item">
     функция турбо
    </div>
    <div class="modal__content__list__item">
     технология трехмерного распределения воздуха
    </div>
    <div class="modal__content__list__item">
     теплообменник сложной конфигурации
    </div>
    <div class="modal__content__list__item">
     24-часовой таймер
    </div>
    <div class="modal__content__list__item">
     режим сна
    </div>
    <div class="modal__content__list__item">
     функции внутренней защиты и самодиагностики
    </div>
    <div class="modal__content__list__item">
     интеллектуальное размораживание
    </div>
    <div class="modal__content__list__item">
     подсветка дисплея
    </div>
    <div class="modal__content__list__item">
     легкая очистка панели
    </div>
    <div class="modal__content__list__item">
     высококачественная медная труба
    </div>
    <div class="modal__content__list__item">
     широкий допустимый диапазон напряжения
    </div>
    <div class="modal__content__list__item">
     антикоррозийная защита Golden Fin
    </div>
    <div class="modal__content__list__item">
     2 точки вывода дренажа
    </div>
    <div class="modal__content__list__item">
     простой и понятный дисплей
    </div>
    <div class="modal__content__list__item">
     осушение
    </div>
    <div class="modal__content__list__item">
     автоматический перезапуск
    </div>
    <div class="modal__content__list__item">
     «теплый» пуск в режиме нагрева
    </div>
   </div>
  </div>
  <div class="modal__content" id="info12">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии 114
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     компрессор известного производителя
    </div>
    <div class="modal__content__list__item">
     фильтр холодного катализа
    </div>
    <div class="modal__content__list__item">
     предотвращение плесени
    </div>
    <div class="modal__content__list__item">
     экранный фильтр
    </div>
    <div class="modal__content__list__item">
     система интеллектуальной очистки
    </div>
    <div class="modal__content__list__item">
     функция турбо
    </div>
    <div class="modal__content__list__item">
     технология трехмерного распределения воздуха
    </div>
    <div class="modal__content__list__item">
     теплообменник сложной конфигурации
    </div>
    <div class="modal__content__list__item">
     режим сна
    </div>
    <div class="modal__content__list__item">
     24-часовой таймер
    </div>
    <div class="modal__content__list__item">
     функции внутренней защиты и самодиагностики
    </div>
    <div class="modal__content__list__item">
     легкая очистка панели
    </div>
    <div class="modal__content__list__item">
     высококачественная медная труба
    </div>
    <div class="modal__content__list__item">
     интеллектуальное размораживание
    </div>
    <div class="modal__content__list__item">
     широкий допустимый диапазон напряжения
    </div>
    <div class="modal__content__list__item">
     антикоррозийная защита Golden Fin
    </div>
    <div class="modal__content__list__item">
     подсветка дисплея
    </div>
    <div class="modal__content__list__item">
     2 точки вывода дренажа
    </div>
    <div class="modal__content__list__item">
     осушение
    </div>
    <div class="modal__content__list__item">
     автоматический перезапуск
    </div>
    <div class="modal__content__list__item">
     «теплый» пуск в режиме нагрева
    </div>
    <div class="modal__content__list__item">
     генератор анионов (инвертор)
    </div>
    <div class="modal__content__list__item">
     DS-технологии (инвертор)
    </div>
    <div class="modal__content__list__item">
     электронный расширительный клапан (инвертор)
    </div>
    <div class="modal__content__list__item">
     потребление электроэнергии в режиме ожидания 1 Вт (инвертор)
    </div>
   </div>
  </div>
  <div class="modal__content" id="info13">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии 114
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     компрессор известного производителя
    </div>
    <div class="modal__content__list__item">
     фильтр холодного катализа
    </div>
    <div class="modal__content__list__item">
     предотвращение плесени
    </div>
    <div class="modal__content__list__item">
     экранный фильтр
    </div>
    <div class="modal__content__list__item">
     система интеллектуальной очистки
    </div>
    <div class="modal__content__list__item">
     функция турбо
    </div>
    <div class="modal__content__list__item">
     технология трехмерного распределения воздуха
    </div>
    <div class="modal__content__list__item">
     теплообменник сложной конфигурации
    </div>
    <div class="modal__content__list__item">
     режим сна
    </div>
    <div class="modal__content__list__item">
     24-часовой таймер
    </div>
    <div class="modal__content__list__item">
     функции внутренней защиты и самодиагностики
    </div>
    <div class="modal__content__list__item">
     легкая очистка панели
    </div>
    <div class="modal__content__list__item">
     высококачественная медная труба
    </div>
    <div class="modal__content__list__item">
     интеллектуальное размораживание
    </div>
    <div class="modal__content__list__item">
     широкий допустимый диапазон напряжения
    </div>
    <div class="modal__content__list__item">
     антикоррозийная защита Golden Fin
    </div>
    <div class="modal__content__list__item">
     подсветка дисплея
    </div>
    <div class="modal__content__list__item">
     2 точки вывода дренажа
    </div>
    <div class="modal__content__list__item">
     осушение
    </div>
    <div class="modal__content__list__item">
     автоматический перезапуск
    </div>
    <div class="modal__content__list__item">
     «теплый» пуск в режиме нагрева
    </div>
    <div class="modal__content__list__item">
     генератор анионов (инвертор)
    </div>
    <div class="modal__content__list__item">
     DS-технологии (инвертор)
    </div>
    <div class="modal__content__list__item">
     электронный расширительный клапан (инвертор)
    </div>
    <div class="modal__content__list__item">
     потребление электроэнергии в режиме ожидания 1 Вт (инвертор)
    </div>
   </div>
  </div>
  <div class="modal__content" id="info14">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии Серия 147 on/off
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     компрессор известного производителя
    </div>
    <div class="modal__content__list__item">
     фильтр холодного катализа
    </div>
    <div class="modal__content__list__item">
     предотвращение плесени
    </div>
    <div class="modal__content__list__item">
     экранный фильтр
    </div>
    <div class="modal__content__list__item">
     система интеллектуальной очистки
    </div>
    <div class="modal__content__list__item">
     функция турбо
    </div>
    <div class="modal__content__list__item">
     технология трехмерного распределения воздуха
    </div>
    <div class="modal__content__list__item">
     теплообменник сложной конфигурации
    </div>
    <div class="modal__content__list__item">
     режим сна
    </div>
    <div class="modal__content__list__item">
     24-часовой таймер
    </div>
    <div class="modal__content__list__item">
     функции внутренней защиты и самодиагностики
    </div>
    <div class="modal__content__list__item">
     скрытый дисплей
    </div>
    <div class="modal__content__list__item">
     легкая очистка панели
    </div>
    <div class="modal__content__list__item">
     высококачественная медная труба
    </div>
    <div class="modal__content__list__item">
     широкий допустимый диапазон напряжения
    </div>
    <div class="modal__content__list__item">
     антикоррозийная защита Golden Fin
    </div>
    <div class="modal__content__list__item">
     2 точки вывода дренажа
    </div>
    <div class="modal__content__list__item">
     интеллектуальное размораживание
    </div>
    <div class="modal__content__list__item">
     осушение
    </div>
    <div class="modal__content__list__item">
     «теплый» пуск в режиме нагрева
    </div>
    <div class="modal__content__list__item">
     автоматический перезапуск
    </div>
    <div class="modal__content__list__item">
     DS-технологии (инвертор)
    </div>
    <div class="modal__content__list__item">
     электронный расширительный клапан (инвертор)
    </div>
    <div class="modal__content__list__item">
     потребление электроэнергии в режиме ожидания 1 Вт (инвертор)
    </div>
   </div>
  </div>
  <div class="modal__content" id="info15">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Отличительные особенности<br />
    серии Серия 147 инверторные
   </div>
   <div class="modal__content__separator"></div>
   <div class="modal__content__list modal__content__list-one">
    <div class="modal__content__list__item">
     компрессор известного производителя
    </div>
    <div class="modal__content__list__item">
     фильтр холодного катализа
    </div>
    <div class="modal__content__list__item">
     предотвращение плесени
    </div>
    <div class="modal__content__list__item">
     экранный фильтр
    </div>
    <div class="modal__content__list__item">
     система интеллектуальной очистки
    </div>
    <div class="modal__content__list__item">
     функция турбо
    </div>
    <div class="modal__content__list__item">
     технология трехмерного распределения воздуха
    </div>
    <div class="modal__content__list__item">
     теплообменник сложной конфигурации
    </div>
    <div class="modal__content__list__item">
     режим сна
    </div>
    <div class="modal__content__list__item">
     24-часовой таймер
    </div>
    <div class="modal__content__list__item">
     функции внутренней защиты и самодиагностики
    </div>
    <div class="modal__content__list__item">
     скрытый дисплей
    </div>
    <div class="modal__content__list__item">
     легкая очистка панели
    </div>
    <div class="modal__content__list__item">
     высококачественная медная труба
    </div>
    <div class="modal__content__list__item">
     широкий допустимый диапазон напряжения
    </div>
    <div class="modal__content__list__item">
     антикоррозийная защита Golden Fin
    </div>
    <div class="modal__content__list__item">
     2 точки вывода дренажа
    </div>
    <div class="modal__content__list__item">
     интеллектуальное размораживание
    </div>
    <div class="modal__content__list__item">
     осушение
    </div>
    <div class="modal__content__list__item">
     «теплый» пуск в режиме нагрева
    </div>
    <div class="modal__content__list__item">
     автоматический перезапуск
    </div>
    <div class="modal__content__list__item">
     DS-технологии (инвертор)
    </div>
    <div class="modal__content__list__item">
     электронный расширительный клапан (инвертор)
    </div>
    <div class="modal__content__list__item">
     потребление электроэнергии в режиме ожидания 1 Вт (инвертор)
    </div>
   </div>
  </div>
  <div class="modal__content modal__thanks" id="modal-thanks">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Спасибо за заявку!
   </div>
   <div class="modal__content__sub">Мы свяжемся с вами в ближайшее время.</div>
  </div>
  <div class="modal__content modal__form" id="modal-form">
   <div class="modal__content__close">
    <svg>
     <use xlink:href="#close"></use>
    </svg>
   </div>
   <div class="modal__content__title">
    Оставьте заявку!
   </div>
   <div class="modal__content__sub">И мы проконсультируем вас в выборе кондиционера.</div>
   <form class="modal__content__form">
    <div class="modal__content__form__group">
     <input type="text" name="form_name" placeholder="Имя"><input type="text" name="form_phone" placeholder="Контактный телефон">
    </div>
    <button class="modal__content__form__button"><span>Оставить заявку</span></button>
    <input type="hidden" name="form_target" value="zayavka">
   </form>
  </div>
 </div>
</div>
<img src="../images/icon.png" style="display: none!important;" alt="">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(54045010, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/54045010" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript" src="/js/vendors.js"></script><script type="text/javascript" src="/js/app.js"></script></body>
</html>