@media (max-width: 415px) {
  .catalog__list__image img.label {
    object-fit: contain;
  }
}

.header__company__item-discounts {
  padding: 0 2em;
  color: #ffda43;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #485cf9;
  filter: none;
  opacity: 1;
  width: 159px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.cat-discounts {
  padding: 0 2em;
  color: #ffda43;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #485cf9;
  filter: none;
  opacity: 1;
}
.cat-discounts:hover {
  box-shadow: inset 0px 0px 10px 5px rgb(0, 0, 0, 0.25);
}
.cat-discounts.active {
  filter: none;
}
.sell-out-list{
  display: flex;
  flex-direction: column;
}

.sell-out-list h3{
  font-size: 2.8rem;
  font-weight: 700;
}
.sell-out-list ul{
  padding-top: 1em;
  padding-left: 3em;
  list-style: disc;

}
.sell-out-list ul li{
  font-size: 2rem;
    line-height: 2.5rem;
}