@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUISemiLight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/SemiLight/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/SemiLight/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/SemiLight/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/SemiLight/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/SemiLight/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUIBold';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUIRegular';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

body {
    font-family: "wf_SegoeUIRegular";
    /*height: 100vh;*/
    /*width: 100vw;*/
    background: url(../images/bg.jpg) center top;
    background-size: 100% auto;
    background-attachment: fixed;
}
.index_main {
    margin-top: 124px;
}

#callbackModal h4 {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.navbar-bottom {
    min-height: 24px;
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
}

.navbar-main {
    border: none;
    background-color: #2D0E0C;
    background: url(../images/header_bg.jpg) no-repeat center top;
    background-size: 200% 100%;

    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.35);
}

.main_logo {
    margin: 20px 0 40px 0;
    width: 310px;
    max-width: 100%;
    height: auto;
}
.phone_header {
    float: right;
    font-family: 'wf_SegoeUIBold';
    font-size: 48px;
    line-height: 1.05;
    color: #05598f;
    height: 72px;
    padding-top: 0px;
    padding-left: 50px;
    background: url(../images/icon-phone-2.png) no-repeat;
    background-position: left 30%;
}
.phone_header > span {
    display: block;
    color: black;
    font-size: 23px;
}
.banner_container {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 24px;

    border: 1px solid #999;

    /*-webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);*/
    /*-moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);*/
    /*box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);*/
}
.series_container {
    width: 80%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 12px;
    background-color: #fff;
    margin-top: 12px;
}
.model_detail_img {
    max-width: 100%;
    width: auto;
    height: auto;
    border: 1px solid #ddd;
    padding: 12px;
    background-color: #fff;
    margin: 12px auto 36px;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
}
.left_panel {
    width: 100%;
    max-width: 260px;
    height: auto;
    margin: 0 auto;
}
.inner_body,
.brand_main {
    margin-bottom: 40px;
    padding: 16px;
    border-radius: 6px;
    background: url(../images/center_bg.jpg) no-repeat center;
    background-size: 100% 100%;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
}
.inner_body > h1,
.brand_main > h1 {
    font-size: 20px;
    text-align: center;
    margin: 12px 0;
    padding: 0;
}
.inner_body > h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #0293c0;
    text-align: center;
    margin: 36px 0 12px 0;
    padding: 0;
}
.inner_body > h3 {
    font-size: 17px;
    color: #0293c0;
    text-align: center;
    margin: 16px 0 8px 0;
    padding: 0;
}
.inner_body > p,
.brand_main > p {
    text-align: justify;
}
.recomend_text {
    font-family: "wf_SegoeUIBold";
    font-size: 23px;
    color: #fff;
    line-height: 1.1;
}
.recomend {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
}
.recomend_item {
    min-height: 220px;
    padding: 8px 0 16px 0;
}
.recomend_item > img {
    width: 90%;
    margin: 6px auto 10px;
    padding: 4px;
    border: 1px solid #777;
    border-radius: 6px;
    background-color: #fff;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
}
.recomend_item > .title {
    font-size: 18px;
    font-weight: bold;
    color: #226d8d;
}
.recomend_item > .title:hover {
    color: #428dad;
}
.recomend_item > .details {
    border: 1px solid #666;
    border-radius: 6px;
    font-size: 15px;
    color: #666;
    padding: 2px 6px;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
}
.recomend_item > .details:hover {
    border: 1px solid #999;
    color: #999;
}
.recomend_item > .details:active {
    position: relative;
    top: 1px;
}
.details_btn {
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 14px;
    color: #0273a0;
    padding: 3px 16px 4px 16px;
    margin: 8px 6px;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#bbb',GradientType=0 );

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.details_btn:hover {
    color: #0293c0;
}
.details_btn:active {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbb', endColorstr='#fff',GradientType=0 );
}
.left_menu {
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    list-style: none;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
}
.left_menu > li > a {
    font-family: 'wf_SegoeUIRegular';
    padding-top: 14px;
    font-size: 18px;
    display: block;
    color: #226d8d;
    width: 100%;
    height: 65px;
    background: url(../images/left_menu_btn.png) no-repeat center;
    background-size: 100% auto;
}
.left_menu > li > a:hover {
    opacity: 0.8;
}
.left_menu > li > a:active {
    position: relative;
    color: #226d8d;
    top: 8px;
    left: 8px;
    background: url(../images/left_menu_btn_active.png) no-repeat center right;
    background-size: 100% auto;
}
.left_menu > li > a.active {
    font-family: 'wf_SegoeUIBold';
}

.right_buttons {
    z-index: 10;
    position: fixed;
    top: 40%;
    right: 12px;
    height: 210px;
}
.button_mail {
    top: 0;
    background: url(../images/icon_mail_btn.png) no-repeat center;
}
.button_phone {
    top: 35%;
    background: url(../images/icon_phone_btn.png) no-repeat center;
}
.button_adress {
    top: 70%;
    background: url(../images/icon_adress_btn.png) no-repeat center;
}
.button_mail,
.button_phone,
.button_adress {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;

    border: 1px solid #999;
    border-radius: 8px;

    background-size: 100%;

    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(255, 155, 155, 0.5);
    -moz-box-shadow: 2px 4px 8px 0 rgba(255, 155, 155, 0.5);
    box-shadow: 2px 4px 8px 0 rgba(255, 155, 155, 0.5);
}
.button_mail:hover,
.button_phone:hover,
.button_adress:hover {
    z-index: 1500;
    cursor: pointer;

    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);

    -webkit-box-shadow: 0 0 16px 16px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 0 0 16px 16px rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 16px 16px rgba(255, 255, 255, 0.75);
}

.button_mail:active,
.button_phone:active,
.button_adress:active {
    -webkit-box-shadow: 0 0 16px 16px rgba(255, 255, 0, 0.35);
    -moz-box-shadow: 0 0 16px 16px rgba(255, 255, 0, 0.35);
    box-shadow: 0 0 16px 16px rgba(255, 255, 0, 0.75);
}

.brand_image {
    float: left;
    width: 180px;
    height: 180px;
    margin: 0 16px 4px 0;

    border: 1px solid #aaa;
    border-radius: 16px;

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;

    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
}

.brand_card {
    cursor: pointer;

    display: block;
    width: 100%;
    height: 200px;
    margin: 12px auto;

    border: 1px solid #aaa;
    border-radius: 16px;

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;

    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
}
.brand_card:hover {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);

    -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 16px 8px rgba(0, 0, 0, 0.35);
}

.brand_card:active {
    position: relative;
    top: 3px;

    -webkit-box-shadow: 2px 4px 8px 0 rgba(255, 255, 0, 0.35);
    -moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 16px 8px rgba(255, 255, 0, 0.35);
}

.btn-standart:focus,
.btn-standart {
    font-size: 14px;
    width: 180px;
    margin: 6px 0 20px 0;
    background-color: #45aaff;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    padding: 9px 24px;
    font-weight: bold;

    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.25);
}
.btn-standart:hover {
    color: #fff;
    background-color: #258adf;
}
.btn-standart:active {
    color: #fff;
    position: relative;
    background-color: #056abf;
    top: 1px;
}

#inputMessage {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.search_input {
    font-size: 16px;

    border-style: double;
    border-width: 5px;
    border-color: #aaa;

    margin: 24px auto 0 auto;
    width: 90%;
    height: 40px;

    background-color: #fff !important;
    background: url('../images/icon_search.png') no-repeat;
    background-position: 95% center;
    background-size: 11px 11px;
}

.models {
    text-align: center;
    color: #fff;
}

.models td {
    min-width: 100px;
    padding: 2px;
    border: 2px solid #fff;
    background-color: #0293c0;
}
.no_border td {
    min-width: 100px;
    padding: 0;
    border: none;
    background-color: transparent;
}
.no_border .details_btn {
    padding: 3px 8px 4px 8px;
}
.navlink_container {
    display: inline-block;
    font-size: 18px;
    margin-top: 6px;
}
.nav_link {
    color: #0273a0 !important;
    /*text-shadow: #059 1px 1px 0;*/
}
.nav_link:hover {
    text-decoration: underline;
    color: #0293c0 !important;
}
.area_details {
    display: inline-block;
    float: right;
    text-align: right;
    font-size: 17px;
    color: #0273a0 !important;
}
.area_details > span {
    font-size: 27px;
    font-weight: bold;
    color: #fa1302;
}

.admin_header {
    cursor: pointer;
    padding: 4px 0 !important;
    background-color: #bbf;
}
.admin_header:hover {
    background-color: #ccf;
}

textarea {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 120px;
    margin-bottom: 6px !important;
}

.form__block {
    margin-bottom: 30px;
    padding: 30px 30px 20px;
    background: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.form__block-title p {
    margin-bottom: 30px;
    font-size: 2.6rem;
    font-weight: 700;
    color: #1c5b88;
}

.form__block .input {
    margin-bottom: 30px;
}

.form__block .input.text {
    position: relative;
    padding: 10px 10px 10px 60px;
    background-color: #e0e0e2;
    border: 2px solid #b6b6b6;
    border-radius: 10px;
    overflow: hidden;
}

.form__block .input.text:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 100%;
    transform: translateY(-50%);

}

.form__block .col-lg-4:nth-child(1) .input.text:before {
    background: #b6b6b6 url('../images/name-icon.png') center no-repeat;
}

.form__block .col-lg-4:nth-child(2) .input.text:before {
    background: #b6b6b6 url('../images/phone-icon.png') center no-repeat;
}

.form__block .input input {
    width: 100%;
    border: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    outline: none;
}

.form__block .input.submit {
    padding: 10px;
    background: #fe2429;
    border-bottom: 5px solid #a70004;
    border-radius: 10px;
    color: white;
    transition: .15s;
}

.form__block .input.submit:active {
    transform: translateY(5px);
    border-bottom: 0px solid #a70004;
}

.form__footer p {
    font-size: 14px;
    font-weight: 500;
}

.form__footer p a {
    color: black;
    font-weight: 700;
}

.header_logo {
    display: flex;
    flex-wrap: wrap;
}

.header_logo span {
    display: inline-block;
    max-height: 60px;
    margin: 15px 0 0 30px;
    padding: 0 0 0 30px;
    border-left: 1px solid #777;
    color: #005083;
    font-size: 14px;
}

@media only screen and (max-width : 1200px) {
}

@media only screen and (max-width : 991px) {
    .index_main { margin-top: 100px; }
    .phone_header {
        height: 60px;
        padding-top: 10px;
        font-size: 44px;
        background-position: left 90%;
    }
    .phone_header > span {
        font-size: 19px;
    }
    .brand_card {
        height: 130px;
    }
    .search_input {
        font-size: 15px;

        margin: 18px auto 0 auto;
        width: 90%;
        height: 36px;
    }
    .right_buttons {
        right: 2px;
        height: 170px;
    }
    .button_mail,
    .button_phone,
    .button_adress {
        right: 0;
        width: 52px;
        height: 52px;
    }
}

@media only screen and (max-width : 767px) {
    .index_main { margin-top: 0; }
    .navbar-fixed-top {
        position: relative;
    }
    .navbar-main {
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .header_logo {
        text-align: center;
        background: url(../images/header_bg.jpg) no-repeat center top;
        background-size: 200% 100%;
    }
    .main_logo {
        width: 260px;
    }
    .phone_header {
        color: #fff;
        font-size: 40px;
        float: none;
        width: 240px;
        margin: 0 auto 8px auto;

        background: url(../images/icon_phone_white.png) no-repeat;
        background-size: 47px 48px;
        background-position: left 70%;
    }
    .phone_header > span {
        font-size: 20px;
    }
    .right_buttons {
        top: auto;
        bottom: 4px;
        right: 2px;
        height: 156px;
    }
    .button_mail,
    .button_phone,
    .button_adress {
        right: 0;
        width: 48px;
        height: 48px;
    }

    .brand_main > p {
        font-size: 13px;
        text-align: left;
    }
    .brand_card {
        max-width: 240px;
        height: 240px;
    }
    .recomend {
        background-color: rgba(255, 255, 255, 0.7);
    }
    .left_menu {
        padding: 20px;
        width: 100%;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .left_menu > li > a {
        width: 100%;
        max-width: 180px;
        height: 65px;
    }

    .brand_image {
        float: none;
        width: 100%;
        max-width: 220px;
        height: 220px;
        margin: 12px auto;
    }
    .series_container {
        max-width: 480px;
        width: 100%;
    }

    .navlink_container {
        display: block;
        font-size: 15.5px;
    }
    .area_details {
        display: block;
        font-size: 15.5px;
    }

    .no_border .details_btn {
        padding: 3px 16px 4px 16px;
        margin-bottom: 16px;
    }
    .recomend_item {
        min-height: 260px;
    }
}

@media only screen and (max-width : 480px) {
    .brand_card {
        height: 200px;
        max-width: 200px;
    }
}